---
import Layout from "@layouts/Layout.astro";
import ImageComponent from "@components/ImageComponent.astro";
import Container from "@components/Container.astro";
import AstroLogo from "@assets/images/astro-logo-light-gradient.png";
import { Content as SampleMarkdown } from "@content/sample-markdown.md";
import { Image } from "astro:assets";
import ProjectList from "@components/ProjectList.astro";
import ClientList from "@components/ClientList.astro";
import PersonalWork from "@components/PersonalWork.astro";
---

<Layout title="Astro Starter">
  <div class="heroSect">
    <h1 class="title th1">Tyler Boggi</h1>
    <img src="/tyLogo.png" class="title timg"></img>
    <h2 class="title th2">Graphic Designer</h2>
  </div>
  <nav>
    <div class="navR">
      <a class="navItm">Portfolio</a>
      <a class="navItm">Contact Me!</a>
    </div>
  </nav>
  <Container>
  <div class="gap"></div>

  <h2 class="sectH">Clients</h2>
  <ClientList />

  <h2 class="sectH">Projects</h2>
  <ProjectList />
  
  <h2 class="sectH">Personal Work</h2>
  <PersonalWork />
    
  </Container>
  <div class="gap"></div>
</Layout>

<style>

nav{
  position: sticky;
  top: -5px;
  paint-order: stroke fill;
  border-top: 5px solid yellow;
  border-bottom: 5px solid yellow;
  background-color: black;
  width: 100%;
  height: 8vh;
}

.navR{
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
  gap: 20px;
}

.navItm{
  width: fit-content;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  font-size: 30px;
}
.navItm:hover{ color: black; background-color: yellow;}

.heroSect{
  /* position: sticky;
  top: 10%; */
  width: 100%;
  height: 100vh;
  z-index: -100;
}

.title{

  transform-origin: center;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 10vw;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: italic;
} 

.sectH{
  display: flex;
  justify-content: center;
  color: white;
  font-size: 72pt;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: italic;
  text-decoration: underline;
  text-underline-offset: 10px;
}

@keyframes popIn {
  from { transform: scale(0%); }
  to { transform: scale(100%); }
}
@keyframes LtR {
  from { margin-left: -60%; }
  to { margin-left: 5%; }
}
@keyframes RtL {
  from { margin-left: 120%; }
  to { margin-left: 25%; }
}

.th1{ 
  font-size: 10vw; 
  margin-left: 5%;
  padding-top: 60px; 
  margin-bottom: -60px; 
  animation: LtR 2s;
}
.th2{ 
  z-index: -10; 
  font-size: 8vw; 
  margin-top: -60px; 
  margin-left: 25%; 
  animation: RtL 2s;
}
.timg{ 
  z-index: 10; 
  width: 40%; 
  max-width: 500px; 
  margin: 0 auto;
  transform: scale(100%);
  animation: popIn 1s;
}

.gap{height: 200px;}

</style>