---
import Layout from "@layouts/Layout.astro";
import ImageComponent from "@components/ImageComponent.astro";
import Container from "@components/Container.astro";
import AstroLogo from "@assets/images/astro-logo-light-gradient.png";
import { Content as SampleMarkdown } from "@content/sample-markdown.md";
import { Image } from "astro:assets";
import ProjectList from "@components/ProjectList.astro";
import ClientList from "@components/ClientList.astro";
import PersonalWork from "@components/PersonalWork.astro";
---

<Layout title="T.B.Designed">
  <div class="heroSect">
    <h1 class="title th1">Tyler Boggi</h1>
    <img src="/tyLogo.png" class="title timg"></img>
    <h2 class="title th2">Graphic Designer</h2>
  </div>
  <nav>
    <div class="navR">
      <a class="navItm" href="#top">Portfolio</a>
      <a class="navItm" href="https://t-boggi-linktree.netlify.app/">Contact Me!</a>
    </div>
  </nav>
  <Container>
  <div class="gap" id="top"></div>

  <h2 class="sectH">Clients</h2>
  <ClientList />
  <div class="sep"></div>
  <h2 class="sectH">Projects</h2>
  <ProjectList />
  <div class="sep"></div>
  <PersonalWork></PersonalWork>
    
  </Container>
  <div class="gap"></div>
</Layout>
<div class="footer">© Tyler Boggi 2026</div>

<style>

nav{
  position: sticky;
  top: -5px;
  paint-order: stroke fill;
  border-top: 5px solid yellow;
  border-bottom: 5px solid yellow;
  background-color: black;
  width: 100%;
  height: 9vh;
}

.navR{
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
  gap: 20px;
}

.navItm{
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-flow: row wrap;
  font-size: 30px;
  padding-left: 5px;
  padding-right: 5px;
  height: 100%;
  color: yellow;
  text-decoration: none; 
}
.navItm:hover{ color: black; background-color: yellow;}

.heroSect{
  /* position: sticky;
  top: 10%; */
  /* width: 100%; */
  height: 100vh;
  z-index: -100;
  align-content: center;
  overflow: hidden;
}

.title{

  transform-origin: center;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 10vw;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: italic;
} 

.sectH{
  display: flex;
  justify-content: center;
  color: white;
  font-size: 72pt;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: italic;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.pers{ font-size: 60pt; width: 600px;}

@keyframes popIn {
  from { transform: scale(0%); }
  to { transform: scale(100%); }
}
@keyframes LtR {
  from { margin-left: -60%; }
  to { margin-left: 5%; }
}
@keyframes RtL {
  from { margin-left: 120%; }
  to { margin-left: 25%; }
}

.th1{ 
  font-size: 10vw; 
  margin-left: 5%;
  margin-bottom: -30px; 
  animation: LtR 2s;
}
.th2{ 
  width: 100vw;
  z-index: -10; 
  font-size: 8vw; 
  margin-top: -30px; 
  margin-left: 25%; 
  animation: RtL 2s;
}
.timg{ 
  z-index: 10; 
  width: 40%; 
  max-width: 400px; 
  margin: 0 auto;
  transform: scale(100%);
  animation: popIn 1s;
}

@media(min-width: 1150px){
  .th1{}
  .th2{}
}

.gap{height: 100px;}
.sep{width: 100%; height: 40px; border-top: 12px solid rgba(255, 187, 0); border-bottom: 8px solid rgba(255, 187, 0); margin-top: 40px; margin-bottom: 50px;}

.footer{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 20px;
  padding: 10px;
  padding-right: 50px;
  /* border-top: 10px solid rgb(176, 85, 0); */
  background-color: rgba(255, 187, 0);
  color: black;
  height: 60px;
}

</style>